html body{
    background-color: #032421;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url("picture/bg1.jpeg");
    background-attachment: fixed;
    box-sizing: border-box;
    overflow: hidden;
}

.main-div{
    width: 95%;
    height: 100%;
    padding: 10px;
    margin: auto;
    /* overflow: hidden; */
}

.header{
    margin: auto;
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: space-between;
}

.menu-list{
    margin-top: auto;
    display: flex;
    margin-left: auto;
}

ul li{
    margin: 25px, 25px;
    padding: 0px 10px;
    list-style: none;
    color: antiquewhite;
    text-decoration: none;
}

li a {
    color: #87ceeb;
    text-decoration: none;
    padding: 8px 10px;
}

.logo{
    margin: 0px 0px 0px 30px;
}

.logo a{
    height: 80%;
    width: 100%;
}

.logo img{
    margin: 0px 20px;
    height: 100%;
    width: 150px;
}

.intro-section{
    width: 100%;
    margin: auto;
    display: flex;
}

.about-me{
    height: 300px;
    width: 70%;
    border-radius: 20px;

    margin: 20px;
    padding: 0px 25px;
}

span{
    color: #00ebb0;
}

.picture{
    height: 300px;
    width: 25%;
    margin: 15px;

    background: url("picture/nazmul_r2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.info-section{
    width: 100%;
    display: flex;
    height: 180px;
    margin: 20px auto;
    justify-content: space-around;
}

.col1{
    width: 32%;
    text-align: center;
}

h5, h6{
    padding: 0px;
    margin: 0px;
    color: #e5b73b;
}

.col2{
    width: 32%;
    text-align: center;
}

.skill-list li{
    display: block;
    color: #7cfc00; 
}

.col3{
    width: 32%;
    text-align: center;
}

.footer{
    margin: auto;
    width: 100%;
    /* background-color: #1c0029; */
}

.contact-list li{
    display: block;
    color: #40e0d0;
}

.social-buttons{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.social-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.social-button img{
    width: 50%;
    height: auto;
}

h4{
    margin-top: -5px;
    color: #00bfff;
}

h1{
    font-size: 48px;
    margin-top: -2px;
}

h3{
    margin-top: -10px;
}

li{
    color: #00e4c5;
}

.menu-list li a:hover{
    border-radius: 10px;

    background: #00b646 ;
    color: #04002c ;
}

.social-button img:hover{
    padding: 10px;
    border-radius: 50px;
    background: #006f77 ;
}