#educations{
    height: 100vh;
    width: 100%;
    background-color: #00041d;
}

.educations-title{
    height: 10vh;
    text-align: center;
    font-size: 4rem;
    color: tomato;
}

/* 2nd div main content */
.educations-content{
    height: 90vh;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    flex-wrap: wrap;

    padding: 25px;
}

/* main content 1st column */
.educations-content-academy{
    width: 50%;
    flex-basis: 50%;
    /* background: #00440f; */

    padding: 25px;
}

/* main content 2nd column */
.educations-content-online{
    width: 50%;
    flex-basis: 50%;
    /* background: #610101; */
}

/* academy details background */
.academy{
    display: flex;
    background: #374945;
    border-radius: 10px;
    
    width: 100%;
    height: 150px;
    margin: 5px;
    padding: 5px;
    gap: 10px;
    align-items: center;
    margin-bottom: 25px;

}

.academy-pic{
    height: 100%;
    width: 30%;
}

.academy-pic img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* academic name and position */
.academy-content{
    width: 70%;
    height: 100%;
    padding: 5px;
}

.academy-content h2{
    margin: 5px 0px;
    
    font-size: 1.5rem;
    color: #ff8c00;
}

.academy-content h3{
    font-size: 1.1rem;
    color: #00ffff;
}

.academy-content p{
    margin: 5px 0px;
    color: #00ff00;
}

.bsc{
    z-index: 0;
}

.hsc{
    z-index: 0;
}

.ssc{
    z-index: 0;
}