@media only screen and (min-width: 768px) and (max-width: 992px) {}

/* ---------custome breakpoint at 725 max--------- */
@media only screen and (max-width: 725px) {
    body {
        overflow-x: hidden;
        width: 100%;
    }

    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 0.875rem;
    }

    .menu-list {
        display: flex;
        flex-direction: column;
        visibility: hidden;
        opacity: 0;
        transform: translateX(100%);
        transition: all 0.5s;

        background: #00b881;
        position: absolute;
        top: 10vh;
        right: 0;
        height: 90vh;
        width: 40%;
        text-align: center;
    }

    .icon-bars {
        display: block;
        z-index: 1;
    }

    .show-data {
        background: var(--background-primary);
        backdrop-filter: blur(50%);
        position: absolute;
        top: 10vh;
        right: 0;

        height: 90vh;
        width: 40%;
        text-align: center;
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
        transition: all 0.5s;
    }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        color: rgb(213, 108, 255);
        overflow-x: hidden;
    }

    h1 {
        font-size: 1.25rem;
    }

    h2 {
        font-size: 1rem;
    }

    h3 {
        font-size: 0.875rem;
    }

    p {
        font-size: 0.75rem;
    }

    span {
        color: #ff1865;
    }

    /* navbar pages responsive */
    .navbar{
        padding: 0px;
        padding-right: 8vw;

    }
    .logo {
        margin: 0 1vw;
    }
    

    .menu-list {
        justify-content: start;
    }


    /* home page responsive */
    #home {
        flex-direction: column-reverse;
        height: auto;
        
        min-height: 100vh;
        padding: 0;
        justify-content: center;
    }

    .home-title {
        height: 50%;
        width: 100%;
        padding: 50px 20px;
        text-align: center;
    }

    .home-picture {
        height: 50%;
        width: 50%;
        row-gap: 5px;
        justify-content: center;
    }

    .pic-div {
        max-height: 30vh;
        min-height: 25vh;
    }

    .pic-div img {
        max-width: 40vw;
        object-fit: cover;
        object-position: center;

        position: absolute;
        bottom: 0;
    }

    /* about me responsive */
    #about {
        height: auto;
        padding: 2vh 1vw;
        min-height: 120vh;
    }

    .about-content {
        flex-direction: column;
        gap: 2vw;
    }

    .about-picture {
        width: 100%;
        height: 60%;
    }

    .about-intro {
        width: 100%;
        height: 40%;
    }

    .about-picture-circle {
        max-height: 50vh;
        max-width: 50vh;
    }

    .about-picture img {
        max-height: 50vh;
        max-width: 100vw;

        position: relative;
        left: -15px;
        bottom: -30px;

        object-fit: cover;
        object-position: center;
    }

    /* skills page */
    #skills {
        flex-direction: column;
        height: auto;
    }

    .skills-title {
        color: #ff1865;
    }

    .skills-content {
        height: auto;
        padding: 0 2vw;
    }

    .skills-content-box {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        gap: 1vw;
    }

    .skills-content-box>div {
        flex-wrap: wrap;
        flex-basis: 25%;
        width: 15%;
        height: 20%;
    }

    .skills-content-box div p {
        font-size: 0.7rem;
        color: aqua;
    }

    /* education page: ; */
    #educations {
        height: auto;
    }

    .educations-title {
        color: #ff1865;
    }

    .educations-content {
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0 2vw;
    }

    .educations-content-academy {
        width: 100%;
        height: auto;
        flex-basis: 100%;
    }

    .educations-content-online {
        width: 100%;
        flex-basis: 100%;
    }

    .academy {
        background: #374945;
        width: 100%;
        height: 15%;
        gap: 5px;
    }

    .academy h3 {
        color: #a2fa00;
    }

    /* project pages */
    #projects {
        height: auto;
    }

    .projects-content {
        height: 100vh;
        padding: 0 2vw;
    }

    .projects-content-box {
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 10px;
        gap: 1px;
    }

    .project-item {
        width: 100%;
        height: 30%;
    }

    /* contact me resposonsive */
    #contacts {
        min-height: 100vh;
        height: auto;
        width: 100%;
        background-color: var(--contact-bg);
        padding: 0;
    }

    .contacts-content {
        display: flex;
        height: 100vh;
        flex-direction: column;
        padding: 2vh;
        padding: 0;
        flex-wrap: wrap;
    }

    .contact-col1 {
        height: 20%;
        width: 100%;
        flex-basis: 50%;
        padding: 0;
        background: #38263b;
        border-radius: 25ox;
    }


    .contact-col2 {
        height: 50%;
        width: 100%;
        flex-basis: 50%;
        padding: 0;
        padding-left: -2vw;
    }

    .contact-col2 form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        background: #40535a;
        flex-basis: 50%;
        padding: 2vw;
        border-radius: 10px;
    }

    /* footer pages responsive */
    /* .footer .copyright{
        padding-top: 5vh;
    }*/

    .footer .copyright a{
        color: #00ccff;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {} */

/* Base Font Size: */

/* Desktop and Laptop: 16px (1rem)
Tablet: 14px (0.875rem)
Mobile: 12px (0.75rem)
Heading Font Sizes:

H1:
Desktop/Laptop: 36px (2.25rem)
Tablet: 28px (1.75rem)
Mobile: 20px (1.25rem)
H2:
Desktop/Laptop: 24px (1.5rem)
Tablet: 20px (1.25rem)
Mobile: 16px (1rem)
H3:
Desktop/Laptop: 18px (1.125rem)
Tablet: 16px (1rem)
Mobile: 14px (0.875rem)
Body Text Font Size:

Desktop/Laptop: 16px (1rem)
Tablet: 14px (0.875rem)
Mobile: 12px (0.75rem) */
/* @media only screen and (min-width: 600px) and (max-width: 800px){
    body{
        background: #ffffff;
        color: tomato;
    }
}*/